#img{
    height: 300px;
}
#home{
    display: flex;
    margin-top: 120px;
    margin-left: 300px;
   
}
#title{
    /* border: 2px solid; */
    width: 350px;
    text-align: center;
    margin-right: 40px;
    box-shadow: 4px 4px 12px gray;
  
}
#nameHome{
    margin-top: 30%;
    /* margin-bottom: auto; */
    color: rgb(233, 131, 131);
    font-size: 40px;
    font-weight: bolder;
}
#btnHome{
    height: 30px;
    width: 100px;
    font-size: large;
    font-weight: bold;
    color: rgb(96, 3, 3);
    background-color: rgb(233, 131, 131);
    border-radius: 4px;
    border-color: rgb(233, 131, 131);
}